:root{
  --primary-900: #0D0F0D;
  --primary-800: #121414;
  --text-primary: #F4F4F6;
  --secondary-600: #EC3B3B;
  --card-color: #333444;

  --gray-100: #F4F4F6;
  --gray-500: #2D2D34;
  --gray-800: #17171B;
  --gray-900: #060D0F;
  --purple: #6C63FF;
}

.light-mode:root{
  --primary-900: #FFFFFF;
  --primary-800: #EFECEC;
  --secondary-600: #EC3B3B;
  --text-primary: #121414;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-900);
  color: var(--gray-100);
}

h1, h2, h3, h4, h5, h6, a, p, label, span, strong {
  font-family: 'Roboto', arial, helvetica, sans-serif;
}

button {
  cursor: pointer;
}

button:hover {
  filter: brightness(0.9);
}

a {
  text-decoration: none;
}
